
html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.columnTitles {
  text-align: center;
}

.jumbotron {
  margin-top: 3%;
  text-align: center;
  background: inherit;
  border: 1px solid black;
}

.outputs {
  display: none;
}

.output {
  cursor: pointer;
  color: #0088cc;
}

.output:hover {
  text-decoration: underline;
}

#notes {
  height: 100px;
}
